@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root
{
    scroll-behavior: smooth;
    --background: -webkit-linear-gradient(135deg, #081f8656 0%, #2034e633 100%);

}

body
{
    font-family: 'Poppins', sans-serif;  
    background-image: url("../Assets/fondoimagen.jpg");
    background-attachment: fixed;
}
/* 
.fondo
{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: url("../Assets/fondoimagen.jpg");
    background-attachment: fixed;
} */

.contenedor
{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}

.header
{
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.863); */
    background-image:  var(--background), url("../Assets/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.titulo
{
    font-size: 55px;
    margin-bottom: 15px;
}
.copy
{
    font-weight: 500;
    font-size: 25px;
}

.head
{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.wave
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 0;
}
.wp
{
    position: fixed;
    z-index: 101;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 15%;
    box-shadow: 0 0 6px rgba(0, 0, 5, .5);
}


.nav__items
{
    position: fixed;
    top: 0;
    right: 0;
    width: 22vw;
    height: 480px;
    background-image: url("../Assets/fondoimagen.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 5, .5);
    transform: translate(110%);
    transition:  translate .5s ease-in-out;
    border-radius: 10px ;
    z-index: 100;

}
.spread
{
    transform: translate(0);
}

.nav__items a
{
    text-decoration: none;
    color: rgb(74, 158, 236);
    font-size: 20px;
    padding: 15px 30px;
}

.nav__items a:hover
{
    border: 1px solid rgba(47, 35, 228, 0.781);
    border-radius: 5px;

}

/*Biografia*/


.biografia
{
    text-align: center;
    width: 80%;
    padding-top: 50px;
    background-color:#fff ;
    box-shadow: 0 0 6px 0 rgba(0, 0, 5, 0.8);
    margin-top: 90px;
    border-radius: 15px;
    
}

.biografia__picture
{
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;

}

.biografia__parrafo
{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: rgb(55, 61, 63);
}

.biografia__btn
{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 70px;
    background-color: rgb(144, 144, 199);
    color: #fff;
    padding: 20px 40px;
    border-radius: 40px;

}

.biografia__btn:hover
{
    background-color: rgba(82, 113, 155, 0.5);
    color: #fff;

}


/* servicios*/

.services
{
    background-color:#fff ;
    width: 80%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 5, .8);
    margin-top: 70px;
    border-radius: 15px;

}

.subtitulo
{
    text-align: center;
    color: rgb(90, 120, 238);;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contenedor-servicios
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.contenedor-servicios img
{
    width: 50%;
  
}
.check-servicios{
    width: 50%;
}
.servicios
{
    margin-bottom: 35px;
}
.n-servicios
{
    margin-bottom: 5px;
    color: rgb(144, 144, 199);

}
.number
{
    display: inline-block;
    background-image: linear-gradient(to top, rgb(155, 171, 238) 0%, rgb(199, 143, 236) 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 6px;

}

.paglink
{
    color: rgb(84, 114, 236);
    font-size: 18px;

}


/*Potafolios*/

.portafolio
{
    background-color:#fff ;
    box-shadow: 0 0 6px 0 rgba(0, 0, 5, .8);
    margin-top: 70px;
    border-radius: 15px;
    width: 80%;
}

.galery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img--galey
{
    width: 30%;
    margin-bottom: 10px;
    height: 270px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 5, .5);
}

.img--galey > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover--galery
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0); 
    background-color: rgba(5, 39, 189, 0.753);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover--galery img 
{
    width: 35%;
}
.hover--galery p
{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.img--galey:hover .hover--galery
{
    transform: scale(1);
}

/*Slider img*/
.Previuw
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;

}

.Add__img
{
    width: 70%;
    transform: scale(0);
    transition: transform .3s .2s;
    object-fit: cover;
}

.show__imagen
{
    transform: scale(1);

}

.show
{
    transform: translate(0);
}

.close
{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 45px;
    cursor: pointer;
    color: #fff;
}

/*Conocimientos*/

.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#fff ;
    box-shadow: 0 0 6px 0 rgba(0, 0, 5, 0.8);
    margin-top: 70px;
    border-radius: 15px;
    width: 80%;
}

.contenedor-slide
{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 280px;
}

.slide
{
   display: flex;
   transform: translate3d(0,0,0);
   transition: all 600ms;
   animation-name: star;
   animation-duration: 7.5s;
   animation-direction: alternate;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;

}

.slide-items img {
    max-width: 100%;
}

.slide-items 
{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}


.n-experts
{
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    font-weight: 700;
    color: rgb(84, 137, 207);
}






.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 650px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(39, 38, 38, 0.884);
    border-radius: 20px;
}

.slide-img{
    width: 100%;
    height: 280px;
    margin-bottom: 50px;
}

.slide-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
   background-color: rgb(255, 255, 255);
   height: 200px;
   padding: 15px 0;
 

}
.line-slide{
    border-top: 1px solid rgb(215, 218, 219);
    height: 1px;
    max-width: 350px;
    padding:10px 0;
    margin: 20px auto 0 auto;
}
.slide-text a{
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 180px;
    height: 50px;
    padding: 10px 10px;
    background-color: #3a73f0;
    color: #fff;
    margin: auto;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 20px;

}

.slide-text h3{
    color: rgb(55, 61, 63);
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}
.slide-text p{
    color: #3a73f0;
    font-size: 18px;
    text-align: center;
    width: 70%;
}

.swiper-slide img {
    display: block;
    width: 80%;
    margin: 10px auto;
}


@keyframes star
{
    14.28%
    {
        transform: translate3d(calc(-100% * 0),0,0);

    }
    28.56%
    {
        transform: translate3d(calc(-100% * 1),0,0);

    }
    42.84%
    {
        transform: translate3d(calc(-100% * 2),0,0);

    }
    57.12%
    {
        transform: translate3d(calc(-100% * 3),0,0);

    }
    71.5%
    {
        transform: translate3d(calc(-100% * 4),0,0);
    }
    85.68%
    {
        transform: translate3d(calc(-100% * 5),0,0);
    }
    100%
    {
        transform: translate3d(calc(-100% * 6),0,0);
    }
}


/*footer*/
.footer
{
    
    padding-bottom: 0.1px;
    background: rgba(255, 255, 255, 0.829);
    margin-top: 70px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 5, .5);
}


.contenedor-footer
{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px; 
    
}

.subtitulo-foter
{
    color: #3a73f0;
    font-weight: 500;
    font-size: 30px;
}
h3{
    color: #3a73f0;
    font-weight: 300;
    font-size: 21px;
}

.social-media
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
 
}

.social-media-icon
{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #3a73f0;
    border-radius: 50%;
    text-align: center;
    color: #3a73f0;
}

.social-media-icon:hover
{
    background: #3a73f0;
    color: #fff;
}

.social-media i 
{
    font-size: 35px;
    line-height: 60px;

}

.line
{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 1px;
    background: #3a73f0;
   margin-bottom: 60px;
}


/*Responsive*/

@media screen and (max-width:800px) 
{

    .nav__items
    {
        width: 50vw;
    }

    .titulo
    {
        font-size: 40px;
    }
    .copy
    {
        font-size: 20px;
    }
    
    .contenedor-servicios img
    {
        width: 80%;
        margin-bottom: 40px;
    }

    .check-servicios
    {
        width: 80%;
    }

    .servicios
    {
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img--portafolios
    {
        width: 60%;
    }
  

    .con-expert
    {
        width: 80%;
    }
    .social-media
    {
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i
    {
        margin-left: 0;
        margin-top: 18px;
    }

    .contenedor-footer
    {
        justify-content:center ;
    }

    .footer-us
    {
        text-align: center;
    }
    .contenedor-slide
    {
     position: relative;
     max-width: 170px;
     width: 100%;
     overflow: hidden;
    }

    .sub-con
    {
        font-size: 25px;

    }

    .Btn--Prueba
    {
         width: 150px;
         font-size: 15px;
         margin: auto;
         padding: 8px;
    }

    
.biografia__btn
{
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 22px 25px;

}
  
.contenedor--botones
{
     width: 50%;
}


.img--galey
{
    width: 70%;
    margin-bottom: 18px;
    height: 280px;
    overflow: hidden;
}

.hover--galery
{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

  
}


@media screen and (max-width:480px) 
{
    body
    {
        background-attachment: scroll;
    }
    .titulo
    {
        font-size: 28px;
    }
    .nav__items
    {
        width: 45vw;
    }
    .wp
    {
        top: 21px;
        right: 21px;
    }
    .subtitulo
    {
        font-size: 24px;
    }
    .social-media
    {
        width: 100%;
        text-align: center;
    }
    .footer-us
    {
        width: 90%;
    }

    .contenedor--botones
    {
        width: 30%;
    }
.img--galey
{
    width: 70%;
    margin-bottom: 15px;
    height: 220px;
    overflow: hidden;
}

.biografia__parrafo
{

    font-size: 18px;
}

.hover--galery
{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.swiper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(39, 38, 38, 0.884);
    border-radius: 20px;
}

.slide-img{
    width: 80%;
    height: 200px;
    margin-bottom: 50px;
    margin: auto;
}


.slide-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
   background-color: rgb(255, 255, 255);
   height:auto;
   padding: 15px 0;
 

}
.line-slide{
    border-top: 1px solid rgb(215, 218, 219);
    height: 1px;
    max-width: 180px;
    padding:10px 0;
    margin: 20px auto 0 auto;
}
.slide-text a{
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
    height: 40px;
    padding: 10px 10px;
    background-color: #3a73f0;
    color: #fff;
    margin: auto;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 20px;

}

.slide-text h3{
    color: rgb(55, 61, 63);
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.slide-text p{
    color: #3a73f0;
    font-size: 14px;
    text-align: center;
    width: 80%;
}

.swiper-slide img {
    display: block;
    width: 90%;
    margin: auto;
 
}
} 


