@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;500;700&display=swap');


body {
    position: relative;
    height: 100%;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgba(207, 197, 197, 0.575);
    margin: 0;
    padding: 0;
  } 

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 600px;
    background-color: rgba(21, 103, 211, 0.767);
    box-shadow: 0 0 6px rgba(39, 38, 38, 0.884);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-slide p
  {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 80%;
    margin: auto;

  }
